In [18]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_json('users.json', orient='records')
df.head()

   task_number         tg_username  workshop_number
0            1  katten_med_makrell                1
1            1           polinakud                1
2            1              egshes                1
3            2   someotherusername                1
4            3   someotherusername                1

In [39]:
stats_df = pd.DataFrame()

In [42]:
stats_df['tasks'] = df.groupby('tg_username')['task_number'].apply(list)
stats_df['count'] = df.groupby('tg_username')['task_number'].count()
stats_df = stats_df.sort_values('count', ascending=False)
stats_df

                           tasks  count
tg_username
someotherusername   [2, 3, 4, 5]      4
Liehtman               [3, 4, 5]      3
Oleg_Platonov          [3, 4, 5]      3
RandomDanil            [2, 4, 5]      3
aprotopopov            [1, 2, 4]      3
burnyshev                 [3, 4]      2
aleynikovs                [3, 4]      2
katten_med_makrell        [1, 2]      2
arstep                    [2, 3]      2
egshes                    [1, 4]      2
StacyGrach                [3, 5]      2
veegaaa                   [3, 4]      2
fyzbt                        [2]      1
nikitamikhaylov              [4]      1
polinakud                    [1]      1
valukov_alex                 [5]      1
ionlas                       [2]      1
iampolosataya                [5]      1
gur_yan_off                  [2]      1
konarkcher                   [4]      1
Daniil                       [5]      1
elavrukhin                   [3]      1
default_name0                [2]      1
dashafokina                  [3]      1
bloodsource                  [2]      1
ashatilov                    [3]      1
aiGoreva                     [3]      1
VladimirBel                  [3]      1
Sofya_Ozherelieva            [4]      1
Pumpumpwirum                 [2]      1
Mogbymo                      [4]      1
Lightingale                  [3]      1
yagudinamir                  [3]      1